name: test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: arximboldi
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - run: nix build -L
      - run: nix flake check

  build-compat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: arximboldi
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - run: nix-build

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: arximboldi
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - run: nix develop --command cmake -B build
      - run: nix develop --command cmake --build build --target docs
      - uses: shimataro/ssh-key-action@v2
        if: github.ref == 'refs/heads/master' && github.repository_owner == 'arximboldi'
        with:
          key: ${{ secrets.SINUSOIDES_SSH_KEY }}
          known_hosts: ${{ secrets.SINUSOIDES_KNOWN_HOSTS }}
      - run: nix develop --command make -C build upload-docs
        if: github.ref == 'refs/heads/master' && github.repository_owner == 'arximboldi'

  check:
    strategy:
      matrix:
        type: [Debug, Release]
        toolchain: [gnu, llvm]
        opts: [[]]
        include:
          - type: Debug
            toolchain: gnu
            opts: ['coverage']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: arximboldi
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - run: nix develop .#${{ matrix.toolchain }} --command cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.type }} -DENABLE_COVERAGE=${{ contains(matrix.opts, 'coverage') }}
      - run: nix develop .#${{ matrix.toolchain }} --command cmake --build build --target check -- -j$(nproc)
      - run: nix develop .#${{ matrix.toolchain }} --command bash -c "cd build && bash <(curl -s https://codecov.io/bash)"
        if: ${{ contains(matrix.opts, 'coverage') }}
